body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

*{
    outline: 1px olid red;
}

.ee{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.b{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-left: auto;
}

.u{
    width: 50%;
    height: 70%;
    margin-top: 6%;
    margin: auto;
}

.bungkus{
    width: 50%;
    height: 10%;
    display: flex;
    margin-top: 6%;
    margin: auto;
   
}

.logo{
    max-width: 30%;
    max-height: 80px;
}

.garis{
    max-height: 55px;
    background-color:  #0A53A1;
    margin-top: 5%;
}

.aksara{
    font-size: 36px;
    font-family: Airlash Raiders;
    color: #0A53A1;
    margin-top: 1%;
}

.promo{
    margin-left: auto;
}

.wellcome{
    font-size: 1rem;
    height: 3%;
    font-family: Alte Haas Grotesk;
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.o{
     max-width: 100%;
    height: 15%;
    margin: auto;
}

.opsi1{
    width: 88%;
    height: 50%;
    background-color: #0A53A1;
    padding: 5px;
    border-radius: 22px;
    margin: auto;
    display: flex;
}

.facebook{
    margin-left: 29%;
}

.face{
    font-family: Alte Haas Grotesk;
    color: white;
    width: 38%;
    height: 57%;
    margin: auto;
    margin-right: 22%;
    text-decoration: none;
}

.silahkan{
       font-family: Alte Haas Grotesk;
    color: rgb(0, 0, 0);
    font-size: 12px;
    opacity: 0.4;
    justify-content: center;
    display: flex;
    margin-bottom: 19px;
}

.ket{
    font-size: 11px;
    font-family: Alte Haas Grotesk;
    color: black;
    justify-content: center;
    display: flex;
    text-align: center;
    opacity: 0.3;
}